.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight:600;
}
.bs-callout h4 i {
  margin-right: 10px;
  font-weight:normal;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    background-color: #fff;
    border-radius: 3px;
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-default {
    background-color: #DEDEDE;
    border-color: #CCC;
}

.bs-callout-default h4 {
    color: #666;
}
.bs-callout.compact {

    padding-top:10px;
}
.bs-callout.compact:first-of-type {
    margin-top:0px;
}
.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout-success {
    background-color: #F2F9F0;
    border-color: #468847;
}

.bs-callout-success h4 {
    color: #468847;
}
