@charset "utf-8";
/* CSS Document */
body {
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
}
#sidebar {
	width: 290px;
	background-color: #161B22;
	min-height: 100%;
	z-index: 904;
	position: relative;
	top: 0px;
	display: table-cell;
	color: #FFF;
	height: 100%;
}
.main-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
#sidebar .tab-content {
    padding: 20px;
}
#sidebar .nav-tabs {
    border-color: rgba(255,255,255,0.2);
}
#sidebar .nav-tabs>li.active>a, #sidebar .nav-tabs>li.active>a:focus, #sidebar .nav-tabs>li.active>a:hover {
    background: #161B22;
    border-color: rgba(255,255,255,0.2);
    border-bottom-color: #161B22;
    color: #FFF;
}
#sidebar .nav-tabs>li>a {
    margin-right: -1px;
    font-size: 1.6em;
    padding: 15px 20px;
}
#sidebar .nav-tabs>li>a, #sidebar .nav-tabs>li>a:focus, #sidebar .nav-tabs>li>a:hover {
    color: rgba(255,255,255,0.4);
    font-weight: 100;
}
#chatTeams #team_add {
    margin-left: 6px;
    font-size: 14.95px;
}
#chatTeams a {
    font-size: 1em;
    font-weight: normal;
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}
#chatTeams a:hover {
    color: white;
}
#sidebar .nav-tabs>li>a:hover {
    background: #161B22;
    border-color: rgba(255,255,255,0.2);
}

#sidebar .nav-tabs>li>a, #sidebar .nav-tabs>li>a:focus, #sidebar .nav-tabs>li>a:hover {
    color: rgba(255,255,255,0.4);
    font-weight: 200;
}
ul.teamList, ul.publicTeamList {
    margin: 0px;
    padding: 0px;
}
ul.teamList li, ul.publicTeamList li {
    list-style: none;
    position: relative;
    min-width: 250px;
    padding: 5px;
}
li.team_List .teamName h4 i, li.public_team_List .publicTeamName h4 i {
    font-size: 1em;
    position: relative;
    top: 2px;
    font-weight: normal;
	padding-right:5px;
}
li.team_List i, li.public_team_List i {
    position: absolute;
    top: 5px;
    font-size: 1.0em;
    font-weight: normal;
}
li.team_List .teamName, li.public_team_List .publicTeamName {
    display: block;
    vertical-align: top;
    padding: 0;
    margin-left: 25px;
    line-height: normal;
}
li.team_List .teamName h4, li.public_team_List .publicTeamName h4 {
    font-size: 1.0em;
    font-weight: normal;
}
.nav-tabs > li.active > a {
    -webkit-box-shadow: 0 -2px 0 #57889c;
    -moz-box-shadow: 0 -2px 0 #57889c;
    box-shadow: 0 -2px 0 #57889c;
    border-top-width: 0px !important;
    margin-top: 1px !important;
    font-weight: bold;
}
.nav-tabs>li a{ color:#555;} 
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
	border-radius:0;
}
div#distance { 
	margin-bottom: -150px; /* half of content height */
	background: none;      /* temporary - used to see div */
	width: 1px;           /* required to "hide" distance div */
	height: 50%;          /* required */
	float: left;          /* required */

}
div#content {
	position: relative;   /* positions content on top of distance */
	text-align: left;     /* horizontal centering hack for IE */
	width: 590px;          /* required - desired width */    /* cosmetic */
	margin: 0 auto;
	float: none;       /* required */
	clear: left;          /* required */
	top: 150px;	

}
div#loginBox {
	border: 1px solid #CCC;
	height: 300px;         /* required - desired height */
	width: 550px;
	padding: 20px;
	background: url("./images/eGroup_footer.png") bottom left no-repeat;
  -webkit-box-shadow:0 0 5px rgba(0,0,0,0.2); 
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2); 
	box-shadow:0 0 5px rgba(0,0,0,0.2); 
	-webkit-border-radius:5px;
  -moz-border-radius:5px;
	border-radius: 5px;
}
#username, #password, #email {
	/*width: 123px;*/
}
.forgottenPassword {
	color:#333;
	font-size: 11px;
	font-weight: normal;
	float: right;
	margin-right: 10px;
	text-decoration: none;
}
.forgottenPassword:hover {
	color:#600;	
}
#copyRight {
	margin-top: 10px;
	/*background: url("./images/logineBiz.png") no-repeat right top;*/
	height:30px;
	text-align: center;
	font-size: 11px;
}
#copyRight a {
	text-decoration: none;
	color:#333;
}
#copyRight a:hover {
	color:#600;
}
#errorMessage {
	padding: 10px !important;
}
#errorMessage.hidden {
		display: none;
}
.logo a {
    color: #9AC820;
}
.logo img {
    position: absolute;
    z-index: 9001;
	display: block;
    max-width: 100%;
	height: 50px;
    margin-bottom: 8px;
	vertical-align: middle;
	border: 0;
}
#logo_dark {
    display: none;
}
.header-left {
    padding: 12px 0 0 0;
	height: 70px;
}
header.header {
    border-bottom: 1px solid rgba(0,0,0,0.15);
	display: block;
}
.header {
    border-top: 1px solid #ffffff;
    border-bottom: 2px solid #f1f1f1;
    background-color: #fcfcfc;
}
.main-container {
    padding: 20px 0;
}
form {
    margin: 20px 0;
}
.form-control {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    height: 40px;
    padding-right: 30px;
    border-color: #e1e1e1;
    color: #777777;
    position: relative;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
.checkbox input[type="checkbox"]{
    opacity: 0;
	margin-top: 5px;
    z-index: 1;
}
.checkbox {
    padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
	font-weight: 300;
}
.checkbox input[type="checkbox"]:focus + label::before{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after{
    font-family: "FontAwesome";
    content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label{
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before{
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.main-container a {
    color: #9AC820;
}
ul.uList, ul.fList {
    margin: 0px;
    padding: 0px;
}
li.userList {
    list-style: none;
    position: relative;
    min-width: 250px;
    padding: 5px;
	min-height: 60px;
    display: block;
}
li.userList img {
    position: absolute;
}
li.userList .uName {
    display: block;
    vertical-align: top;
    padding: 0;
    margin-left: 55px;
    line-height: normal;
}
li.userList .uName h4 {
    font-size: 1.15em;
    font-weight: 600;
}
ul.uList li.userList .uName h4 a, ul.fList li.userList .uName h4 a {
    color: white;
	padding-right: 5px;
}
.footer {
    position: absolute;
    bottom: 15px;
    border-top: 1px solid #fff;
    width: 100%;
    padding: 10px 0 0 20px;
    left: 0;
}
.footer a{
font-size: 14.95px;
    font-weight: normal;
    color: rgba(255,255,255,0.8);
    text-decoration: none;	
}
.footer a:hover{
	color:#FFF;
}
.error-message{
	color: red;
    padding: 0px 0px 10px 0px;
}
body.fixed-page-footer .chatWindow {
    padding-bottom: 52px;
}
.main-wrapper div#content {
    clear: inherit;
    position: static;
    vertical-align: top;
    padding: 20px 0 0 24px;
    width: 96%;
    box-sizing: border-box;
    margin: 0 0 0 6px;
}
.media-left {
    position: relative;
}
.media-left span.changeStatus {
    position: absolute;
    top: 0;
    right: 13px;
    width: 2em;
    height: 2em;
	/*background-color:#b19a6b;*/
}
.main-wrapper  input.form-control.searchChatHistory {
    height: auto;
    padding: 6px 12px;
}
.chatText .chatBox {
    position: relative;
    margin: 21px 0 0 0;
}
.chatText .chatControls {
    position: absolute;
}
.chatText  .chatTextBox {
    margin: 0 0 0 55px;
}
.chatText textarea.form-control.chatText {
    border-radius: 0;
}
a.addFile.btn.btn-primary {
    border-radius: 0;
	background-color:#3b9ff3;
}
.chatHistory {
    overflow: auto;
}
.changeStatus .fa-stack-1x {
    font-size: 1.2em;
}
.chatItem .handle {
    font-weight: bold;
}
.chatItem .timestamp {
    color: dimgrey;
    font-size: small;
}
.chatItem p {
    font-size: 1.2em;
}
.right-sidebar {
    padding-left: 0;
    display: table-cell;
}
.activeUserDiv {
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 2px 8px;
    height: 258px;
    margin: 20px 0 0;
    overflow: auto !important;
    padding: 10px;
}
.user-box ul {
    padding: 20px 0 0;
}

.user-box ul li {
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 1px 2px 8px;
    display: inline-block;
    list-style: outside none none;
    margin: 0 21px 20px 0;
    min-height: 140px;
    padding: 6px 7px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 31%;
}
.user-box ul li {
    list-style: outside none none;
    text-align: center;
}
a.close-bttn {
    background-color: #2c3742;
    border-radius: 50%;
    color: #fff;
    font-weight: bolder;
    line-height: 15px;
    padding: 0 3px;
    position: absolute;
    right: -6px;
    text-decoration: none;
    top: -6px;
}
.user-box li img {
    border-radius: 49%;
    width: 40px;
}
.user-box .user-name {
    clear: both;
    margin: 0 0 0 8px;
    text-align: center;
}
.user-box li h4 {
    color: #555;
    font-size: 14px;
    font-weight: bold;
}
.user-box .user-name {
    text-align: center;
}
div#content-team {
    width: 95%;
    padding-left: 25px;
    margin-left: 6px;
    border-left: 3px solid #ddd;
}
.widget-header {
    border-bottom: 1px solid #eee;
    width: 100%;
}
button.btn.btn-info.cancelTeam {
    margin-left: 20px;
}
.media-heading {
	word-break: break-all;
	}
#chatWindows div.chatText {
	width: 100%;
	padding-left:0;
	}
#searchUser{
	width: 100%;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 15px;
	color: #000;
	padding: 6px 10px 6px 30px;
}
.search-user i.fa.fa-search {
    position: absolute;
    top: 9px;
    left: 10px;
    color: #666;
    font-weight: bold;
}
.search-user {
    position: relative;
}
.search-user i.fa.fa-times {
    position: absolute;
    top: 9px;
    right: 10px;
    color: #666;
    font-weight: bold;
}
.slimScrollDiv{
	margin-bottom: 40px;
}
ul.uList li.userList .uName h4 span, ul.fList li.userList .uName h4 span {
	padding-right: 5px;
}